{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h3 class="display-5">Ajouter une caté</h3>
        <div class="row">
            <div class="col-md-8 offset-1">
                {{form(form)}}
            </div>
        </div>
    </main>
{% endblock %}