{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Mettre à jour un article un article</h2>
                {{ form(form) }}
            </div>
        </section>
    </main>
{% endblock %}