{% extends 'base.html.twig' %}


{% block body %}
    <main class="container">
        <section id="posts" class="row">
            <div class="col-md-12 pt-4">
                <h2>Liste des articles</h2>
            </div>
        </section>
    </main>


{% endblock %}
